body{
    background-image: url(./img/top-view-of-strawberry-milkshake-in-glass-with-dri-2022-04-20-23-06-28-utc.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgb(255 204 251) !important;
    -webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.app{

}

h2{
    /* margin: 20px 0;
    display: flex;
    justify-content: center; */
    margin-top: 20px !important;
    font-size: 24px;
    text-transform: uppercase;
    color: #4d1f1f; 
}

p{
    text-align: justify;
    font-size: larger;  
}

@media only screen and (max-width: 540px) {
    body{
    background-image: url(./img/green-ceramic-cactus-statue-with-shadow-on-white-b-2022-04-21-01-26-42-utc.jpg) !important;
    }
}